/* Fonts at first */
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap'); */

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

/* Roots */
:root{
    --primary-color: green;
    --accent-color: #00ff6c;
    /* dark-color:#232323 */

    --ff-main: Raleway;

     /* --font-size: 1.1em;  */
    --h1-size:1.5rem; 



}
/* Global */
html{
    font-family: var(--ff-main);
    font-size: var(--font-size);
}
*{
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
}
body{
    margin: 0;
    text-align: center;
}

img{
    max-width: 100%;
    height: auto;
}

/* .container{
    width:100%;
    margin: 0;
} */

.clearfix::after, 
section::after,
footer::after{
    content: '';
    display: block;
    clear: both;
}

/* Column Styling */

/* .col-1{
    float: left;
    padding: 1.5em;
}

.col-1:first-of-type{
    padding-left: 0;
}

.col-1:last-of-type{
    padding-right: 0;
}

@media (min-width:24rem){
    .col-1{
        display: flex;
        flex: 0 1 33%;
        justify-content: space-around;
    }
}

@media (min-width:60rem){
    [class^=col-]{
        float: left;
        padding: 0.5em;
    }

    .col-3{
        width:50%;
    }
    
    .col-1{
        width:16.666667%;
    }
    
} */


/* Buttons */

.button{
    display: inline-block;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    padding: 0.25em 1.25em;
}

@media (min-width:60rem) {
    .button{
        font-size: 1.25rem;
    }
}

.button-small{
    font-size: 0.7rem;
}

.button-accent{
    color:var(--accent-color);
    border-color: var(--accent-color);
}

.button-accent:hover, 
.button-accent:focus{
    background-color: var(--accent-color);
    color:#232323;
}

.button-dark{
    color:#232323;
    border-color: #232323;
}

.button-dark:hover, 
.button-dark:focus{
    background-color: #232323;
    color:#fff;
}



/* Typography with line-height, margins, letter-spacing*/
h1{ 
     font-size: var(--h1-size); 
     font-weight: 300;
}


/* Page-Body / Section-Wise-Styling*/


/* --Header */
header{
    position: absolute;
    left: 0;
    right: 0;
    margin:1em;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin: 1em;
}

nav a{
    text-decoration: none;
    font-weight: 900;
    font-size: 0.8rem;
    padding:.5em;/* padding makes the button bigger/ more clickable */
    text-transform: uppercase;
    color: #FFF;
}

nav a:hover, nav a:focus{
    color: #DDD;
}

@media (min-width:50rem) {
    .logo{
        float: left;
        padding-left: 2rem;
    }
    nav{
        float: right;
        padding-right: 2rem;
    }

}


/* Home-Hero Styling */
.home-hero{
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10em 0 6em;
    color: #FFF;
}

.h1-hero{
    font-weight: 800;
    margin-bottom: 1.5em;
}

.h1-hero span{
    display: block;
    font-weight:300;
    font-size: 0.9rem;
}

@media (min-width:50rem) {
    .home-hero{
        height: 50vh;
        padding: 15vh 0 0;
    }

    .h1-hero{
        font-size: 2.5rem; 
        display: inline-block;
    }

    .h1-hero span{
        font-size: 2rem;
        display: inline-block;
    }
}

@media (min-width:60rem) {
    .home-hero{
        height: 100vh;
        padding: 35vh;
    }

    .h1-hero{
        font-size: 2.5rem; 
        display: inline-block;
    }

    .h1-hero span{
        font-size: 2rem;
        display: inline-block;
    }
}

/* About-Us Section */


.home-about-textbox{
    background-color: #333;
    padding: 4em;
    color: #FFF;
    font-size: 0.75em;
    outline: 2px solid var(--accent-color);
    outline-offset: -2.5em;
    position: relative;
}

.home-about-textbox h1{
    text-transform: uppercase;
    color: var(--accent-color);
    background-color: #333;
    position: absolute;
    top: -0.3em;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 0.25em;
}

@media (min-width:50rem) {

    .container{
        width:80%;
        max-width: 60em;
        margin: 0 auto;
    }

    h1{
        font-size: 2.5rem;
    }

    .home-about-textbox{ 
        font-size: 1em;
        padding: 6em;
        outline-offset: -3.5em;
    }

    .home-about-textbox h1{
        text-transform: uppercase;
        color: var(--accent-color);
        background-color: #333;
        position: absolute;
        top: -0.1em;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 0.6em;
    }    
}

@media (min-width:60rem) {
    
    .container{
        width:95%;
        max-width: 60em;
        margin: 0 auto;
    }

    h1{
        font-size: 2.5rem;
    }

    .home-about{
        background-image: url(../img/who-we-are.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding:0;
    }

    .home-about-textbox{ 
        width: 50%;
        margin-left: -13%;
        top: -5em;
        text-align: left;
        box-shadow: 0 0 4em 0 rgba(0, 0, 0, .3);
        padding: 6em;
        outline-offset: -3.5em;

    }

    .home-about-textbox h1{
        font-size: 2rem;
        top: 1.1em;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 0.3em;
        margin-top: 0;
    }

    .home-about-textbox p{
        line-height: 1.5;
        margin-top: 0;
    }

    .home-about-textbox p:last-of-type{
        margin-bottom: 0;
    }
}

/* Portfolio Section  */ 

.portfolio{
    margin:2em 0 0;
}

.port-item{
    margin:0;
    position: relative;
}

.port-item img{
    display: block;
}

.port-desc{
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    padding-bottom: 2em;
}

.port-desc p{
    margin: 1em;
}

@media (min-width:37rem){
    .port-item{
        width: 50%;
        float: left;
    }
}

@media (min-width:60rem){
    .port-item{
        width: 33.333334%;
        overflow: hidden;
    }

    .port-desc{
        transform: translateY(150%);
    }

    .port-item:hover .port-desc{
        transform: translateY(0);
    }
}


/* cta styling */
.cta{
    background-color: var(--accent-color);
    padding: 3rem 1em;
}

.h1-cta{
    color: #232323;
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 0.5em;
}

.h1-cta span{
    font-size: 1.5rem;
    font-weight: 300;
    display: block;

}

/* Footer */

footer{

    background-color: #232323;
    color: white;
    padding: 1rem;
    text-align: left;
    font-size: 0.6em;
}

.footer__intro p{
    margin-top: 0;
}

.footer__list{
    display: flex;
    flex: 0 1 33%;
    justify-content: space-between;
}

.unstyled-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (min-width: 32rem){
    footer{
        font-size: 0.7rem;
    }
}

@media (min-width: 45rem){
    footer{
        padding: 5em;
        display: flex;
        flex-grow: 1;
    }
    
    .footer__intro{
        max-width: 50%;
    }

    .footer__list{
        display: flex;
        flex-grow: 1;
        justify-content: space-evenly;
    }
}
    